{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/profile.css'%}" />
</head>
<body>
    <div class="main-content">
    {% if user.is_authenticated %}
    <h2>Submission from {{submission.student.username}}</h2>
    <a href="/courses/homepage" class="learning-button">Learning Homepage</a>
    <br>

      <div class="card-container">
      <h3>Text: {{ submission.submission_text }}</h3>
      {% if submission.submission_image %}
      <img src="{{submission.submission_image.url}}" alt="">
      {% endif %}
      {% if submission.pdf_files %}
      <a class="card-button" href="{% url 'download_pdf_submission' submission.id %}">Download PDF</a>
      {% endif %}
    <h3>Submitted at: {{submission.submitted_at}}</h3>
    </div>
    <br>
    <br>
    {% else %}
    <h1>Please log in to view this page</h1>
    <a href="/users/login_user/">Click to Login.</a>
    {% endif %}
  </div>
  </body>
</html>

