<!DOCTYPE html>

<html>
  <head>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/courses.css'%}" />
  </head>
  <body>
    <div class="main-content">
        <a class="card-button" href="{% url 'homepage' %}">Back to homepage</a>
      <h1>{{ content.title }}</h1>
      <h2>Content description:</h2>
      <h4>{{ content.content_text }}</h4>
      {% if content.content_image %}
      <img class="image-content" src="{{ content.content_image.url }}" />
      {% endif %}  
      {% if content.pdf_files %}
      <a class="card-button" href="{% url 'download_pdf' content.id %}">Download PDF</a>
      {% endif %} 
      {% for deadline in content_deadline %}
      <h4>Content Deadline: {{ deadline.deadline }}</h4>
      {% endfor %}
      {% if user.auth_level == 'student'%}
      {% if submission %}
      <a class="card-button" href="{% url 'submission' submission.0.id %}">View your Submission</a>
      {% else %}
      <a href="{% url 'submit' content.id %}" class="card-button">Submit your work</a>
      {% endif %}
      <br>
      <br>
      {% endif %}
    </div>
  </body>
</html>
