<!DOCTYPE html>
<html lang="en">
  <head>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/profile.css'%}" />
    <title>Password Reset Confirm</title>
</head>
<body>
    <div class="main-content">
        <h2>Password Reset Confirm</h2>
        <p>Enter a new password for your account below:</p>
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button class="card-button" type="submit">Confirm Password Reset</button>
            <br>
            <br>
        </form>
  </div>
  </body>
</html>
