<!DOCTYPE html>
<html lang="en">
  <head>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/profile.css'%}" />
    <title>Password Reset</title>
</head>
<body>
    <div class="main-content">
        <h2>Password Reset</h2>
        <p>Enter the email address associated with your account below. We'll send you a link to reset your password.</p>
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button class="card-button" type="submit">Reset Password</button>
            <br>
            <br>
            
            <a class="card-button" href="/">Back</a>
            <br>
            <br>
        </form>
  </div>
  </body>
</html>
